In [5]:
import pandas as pd
import numpy as np

home = pd.read_csv("C:\\Users\\hari_\\Python notebooks\\datafiles\\homeconstruction2015.csv")

In [7]:
home.dtypes

date           object
description    object
category       object
 amount        object
dtype: object

In [14]:
home.date=pd.to_datetime(home.date)

In [15]:
home.date[0:10]

0   2015-03-10
1   2015-03-10
2   2015-07-10
3   2015-10-10
4   2015-10-17
5   2015-10-17
6   2015-10-18
7   2015-10-18
8   2015-10-18
9   2015-10-19
Name: date, dtype: datetime64[ns]

In [16]:
home.dtypes

date           datetime64[ns]
description            object
category               object
 amount                object
dtype: object

In [35]:
home.columns= [' date', ' description','category ','amount ']

In [39]:
home.columns.str.lstrip()
home.columns.str.rstrip()

Index([' date', ' description', 'category', 'amount'], dtype='object')

In [42]:
home.columns

Index([' date', ' description', 'category ', 'amount '], dtype='object')

In [47]:
home.columns=home.columns.str.strip()
home.columns

Index(['date', 'description', 'category', 'amount'], dtype='object')

In [48]:
home.amount=home.amount.str.replace('INR','')

In [56]:
home.amount=home.amount.str.strip()
home.amount=home.amount.str.replace(',','')
home.amount=pd.to_numeric(home.amount)

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [71]:
home.dtypes

date           datetime64[ns]
description            object
category               object
amount                  int64
dtype: object

In [58]:
home.describe()

              amount
count     215.000000
mean    22334.037209
std     41615.548152
min       200.000000
25%      5000.000000
50%     12000.000000
75%     22350.000000
max    456820.000000

In [59]:
home.tail(10)

          date               description   category  amount
205 2016-05-07      bathroom accessories  bathrooms  120000
206 2016-05-08              accessories   Interiors   45000
207 2016-05-12              accessories   bathrooms   53500
208 2016-06-02  bathroom labour contract  bathrooms   80000
209 2016-06-02    bathroom tiles laying   bathrooms    6000
210 2016-06-02      bathroom accessories  bathrooms  120000
211 2016-06-16               Accessories  Interiors  206800
212 2016-06-21                  shoerack  wood work   17000
213 2016-07-28            Glass Priyanka  Interiro     6100
214 2016-07-28      Water pressure equip   Plumbing   15000

In [73]:
home.mean(axis=0)

amount    22334.037209
dtype: float64

In [76]:
home.category.unique()

array(['Mesanory work', 'wood work', 'lightings', 'misc', 'painting',
       'Interiors', 'kitchen', 'false celing', 'Flooring tiles',
       'bathrooms', 'Interiro ', 'Plumbing'], dtype=object)