In [3]:
import pandas as pd
st_md= pd.DataFrame({"Satisfaction":["sad","very sad","neutral","happy", "very happy"]})
st_md

  Satisfaction
0          sad
1     very sad
2      neutral
3        happy
4   very happy

In [22]:
import numpy as np
import pandas as pd

weight = np.array([[65,55,60,63,67,75,77,65,83,45],
                    [5.1,5.2,5.5,5.6,5.7,5.8,6.0,6.1,6.2,5.9]])

height = np.array([[65,55,60,63,67,75,77,65,83,45],
                    [5.1,5.2,5.5,5.6,5.7,5.8,6.0,6.1,6.2,5.9]])

prd=weight*height
np.shape(prd)
weight[1,:]

array([ 5.1,  5.2,  5.5,  5.6,  5.7,  5.8,  6. ,  6.1,  6.2,  5.9])