# DAT210x - Programming with Python for DS

## Module2 - Lab3

In [1]:
# Import and alias Pandas
import pandas as pd

Often, you will want to load a dataset that is missing explicit header labels. You won't know if your data lacks headers or not unless you load it up and examine the headers to see if they make sense. Pandas by default reads in the first row of data as the header. If that isn't the case for your specific data set, you will lose your first data row. Be careful!

Load up the `Servo.data` dataset. Examine the headers, and adjust them as necessary, if need be.

In [8]:
df= pd.read_csv("C:\\Users\\hari_\\Python notebooks\\edx\\Module2\\Datasets\\Servo.data")
df.columns =['motor', 'screw', 'pgain', 'vgain', 'class']
df.columns
df.shape

(166, 5)

Let's try experimenting with some slicing. Create a slice that contains all entries that have a vgain equal to 5. Then print the length of (# of samples in) that slice:

In [11]:
selector = df['vgain']==5
df[selector]

    motor screw  pgain  vgain     class
0       B     D      6      5  0.506252
3       D     B      6      5  0.356251
7       C     A      6      5  0.768754
9       B     E      6      5  0.468752
21      B     C      6      5  0.468752
23      A     B      6      5  0.581253
24      E     C      6      5  0.393752
33      C     C      6      5  0.506252
37      C     B      6      5  0.543753
49      D     A      6      5  0.431252
69      B     A      6      5  0.806255
72      A     E      6      5  0.506252
80      A     C      6      5  0.506252
83      E     A      6      5  0.581253
94      A     D      6      5  0.506252
107     E     B      6      5  0.431252
111     C     D      6      5  0.468752
116     E     D      6      5  0.318751
131     E     E      6      5  0.281251
134     B     B      6      5  0.543753
160     C     E      6      5  0.468752
165     A     A      6      5  0.806255

Create a slice that contains all entries having a motor equal to E and screw equal to E. Then print the length of (# of samples in) that slice:

In [13]:
selector =(df.motor=='E') & (df.screw=='E')
df[selector]

    motor screw  pgain  vgain     class
34      E     E      3      2  1.100000
85      E     E      4      3  0.843755
131     E     E      6      5  0.281251
139     E     E      4      2  0.506252
150     E     E      3      1  0.700001

Create a slice that contains all entries having a pgain equal to 4. Use one of the various methods of finding the mean vgain value for the samples in that slice. Once you've found it, print it:

In [14]:
selector = df.pgain==4
df[selector].mean(axis=0)

pgain    4.000000
vgain    2.060606
class    0.673298
dtype: float64

Here's a bonus activity for you. See what happens when you display the `.dtypes` property of your dataframe!

In [ ]:
# .. your code here ..